@font-face {
  font-family: "Crack Man";
  src: url(../fonts/crackman.otf);
  font-display: swap;
}

@font-face {
  font-family: "JL";
  src: url(../fonts/JL.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Hangyaku";
  src: url(../fonts/Hangyaku.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Aria";
  src: url(/fonts/aria.otf);
  font-display: swap;
}

@font-face {
  font-family: "Bloxat";
  src: url(/fonts/BloxAt.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Bloxbrk";
  src: url(/fonts/BloxBrk.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Harryp";
  src: url(/fonts/HarryP.TTF);
  font-display: swap;
}

@font-face {
  font-family: "Ironick";
  src: url(/fonts/ironick.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Nicker";
  src: url(/fonts/nicker.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Northwoodhigh";
  src: url(/fonts/NorthwoodHigh.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Rubikscube";
  src: url(/fonts/RubiksCube.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Xitter";
  src: url(/fonts/Xitter.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Yandermo";
  src: url(/fonts/YAndermo.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Avengeance";
  src: url(/fonts/Avengeance.otf);
  font-display: swap;
}

@font-face {
  font-family: "DinPro";
  src: url(/fonts/DINProLight.otf);
  font-display: swap;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --blue: #00629B;
}

.lni {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.lni:hover {
  color: var(--blue);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}


#menu {
  z-index: 10001;
}

.sans {
  font-family: 'DinPro', 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 100;
}

.ev-img1 {
  width:  auto;
  height: fit-content;
  margin: 4px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(/icons/ev-default.jpg);*/
  background: transparent;
  background-size: cover;
  border-radius: 4px;
  border: 2px solid var(--black);
}

.ev-img2 {
  width:  auto;
  height: fit-content;
  margin: 4px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(/icons/ev-default.jpg);*/
  background: transparent;
  background-size: cover;
  border-radius: 4px;
  border: 2px solid var(--black);
}

.ev-img3 {
  width:  auto;
  height: fit-content;
  margin: 4px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(/icons/ev-default.jpg);*/
  background: transparent;
  background-size: cover;
  border-radius: 4px;
  border: 2px solid var(--black);
}

.sp-image {
  width:  100px;
  height: 150px;
  background-size: cover;
  border-radius: 4px;
}

h3, h2, h1, p {
  margin: 0;
}

.tens, .ones {
  border: 1px solid gray;
  border-radius: 20% 20% 0 0;
  padding: 30px 15px;
}

.clock {
  color: rgba(50, 50, 50, 0.25);
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
}
  .clock p.separator,
  .clock section {
      display: inline-block;
  }
      .clock section div p {
          position: absolute;
          width: 60px;
          text-align: center;
          transition: 0.3s ease color, 0.3s ease text-shadow;
      }
      .clock p.separator {
          font-size: 60px;
          vertical-align: top;
          margin-top: 20px;
      }
      .clock p.separator,
      .clock section p.active {
          color: #489aff;
          text-shadow: 0px 0px 20px #3c5ceb;
          font-weight: 600;
      }
      .clock section div {
          display: inline-block;
          width: 60px;
          height: 120px;
      }

.dark-mode .clock {
        color: rgba(70, 70, 70, 0.3);
        display: block;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 100px;
      }

.dark-mode .clock p.separator,
.dark-mode .clock section p.active {
    color: #489aff;
    text-shadow: 0px 0px 20px #3c5ceb;
    font-weight: 600;
}
#btn {
  background: transparent;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  border: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.dark-mode #btn {
  color: white;
}

#btn::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  font-size: 24px;
  font-weight: bold;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#btn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ribbon {
  background: transparent;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-decoration: none;
  border: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.dark-mode .ribbon {
  color: white;
}

.ribbon::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  font-size: 24px;
  font-weight: bold;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.ribbon:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20000;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(1px);
  transition: ease-in 0.2s all;
}

/* Modal Content */
.modal-content {
  background: radial-gradient(circle, var(--blue), #28739f, var(--blue));
  margin: auto;
  padding: 16px;
  width: 80%;
  border: 1px solid gold;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'DinPro', 'Segoe UI', sans-serif;
  font-weight: 100;
  color: white;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#menu-bar {
  width: 36px;
  height: 32px;
  margin: 15px 0 20px 8px;
  cursor: pointer;
}

.bar {
  height: 6px;
  width: 100%;
  background-color: #000000;
  display: block;
  border-radius: 4px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-8px);
}

#bar3 {
  transform: translateY(8px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 2px;
}

.nav li {
  list-style: none;
  padding: 12px 12px;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  z-index: 10010;
}

.nav li a:hover {
  font-weight: bold;
  font-size: 24px;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 10000;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #68c8ff, var(--blue));
  border-radius: 50px;
  transition: 0.5s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 240px;
  height: 400px;
  transform: translate(-40%,-20%);
}

header:hover {
  color: var(--blue);
  cursor: pointer;
}

header {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

a:visited { 
  text-decoration: none; 
 }

a {
  color: black;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 48px;
  height: 32px;
  right: 1%;
  top: 0;
  margin-top: 8px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 25%;
}

input:checked + .slider {
  background: var(--blue);
}

input:checked + .slider:before {
  transform: translateX(24px);
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Droid Serif", serif;
  font-size: 14px;
  color: #000000;
  z-index: 9999;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
}
canvas {
  position: absolute;
  z-index: -1;
  display: block;
}
header {
  font-family: serif;
  font-weight: 200;
  font-size: 5rem;
  display: inline-block;
  line-height: 6rem;
  margin-top: 4px;
  margin-bottom: 4px;
  z-index: 9999;
}

.pad {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.para {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  padding: 1%;
}

.speak {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upflex {
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  padding: 2rem 1rem;
  border: 2px solid var(--blue);
  border-radius: 4px;
}

.head {
  text-align: center;
  position: relative;
  z-index: 9999;
  margin-top: 4px;
}

.subhead {
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  padding: 12px 0 12px 0;
  z-index: 50;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
}

/*NEW CONTENT*/

.new-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 10px;
  box-sizing: border-box;
  min-height: 100%;

}

.new-sect {
  font-size: 1.5rem;
  width: 90%;
  padding: 3rem;
  text-align: center;
  background: radial-gradient(circle, rgba(36, 127, 255, 0.1) 10%, rgba(255,255,255,0.1) 90%);
  backdrop-filter: blur(2px);
  border: 2px solid black;
  border-radius: 4px;
  flex-grow: 1;
}

.events {
  padding-top: 0;
}


.sect-head {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  box-sizing: border-box;
  min-height: 100%;
}

fieldset {
  text-align: left;
  border: none;
}

label {
  color: white;
  font-weight: bold;
}

option {
  color: white;
  background-color: var(--blue);
}

::placeholder {
  color: #fffa;
  text-align: center;
}

select, input {
  background: transparent;
  color: white;
  font-size: 1.2rem;
  width: 60vw;
  height: 2rem;
  border: 2px solid white;
  border-radius: 6px;
  padding: 2px;
}

.dark-mode select ,.dark-mode input {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  height: 2rem;
  padding: 2px;
}

.submit-btn {
  padding: 10px;
  width: 128px;
  height: 64px;
  transition: ease-in 0.2s all;
}

.submit-btn:hover {
  scale: 110%;
  color: var(--blue);
  background: white;
}

.dark-mode .submit-btn {
  padding: 10px;
  width: 128px;
  height: 64px;
  transition: ease-in 0.2s all;
}

#fs-frm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 4px;
  background-color: #00629B88;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  height: 100vh;
  width: 100%;
}

#contactform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  background-color: #00629BAA;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.succ {
  padding: 0;
  margin: 0;
  background-image: url(/icons/bg.jpeg);
}

.success {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #ffffffaa;
  backdrop-filter: blur(1px);
  height: 400px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 0 3rem;
  height: 10vh;
  background: transparent;
  border: 2px solid var(--black);
  border-radius: 4px 4px 0 0;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
  font-weight: 100;
}


/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 768px) {
  .ribbon {
    font-size: 1rem;
  }
}
@media only all and (max-width: 768px) {
  header {
    max-width: 320px;
    font-size: 36px;
    line-height: 54px;
    overflow: visible;
    z-index: 9999;
  }

  #footer {
    font-size: 1rem;
  }

  .new-sect {
    background: #ffffff22;
    backdrop-filter: none;
    width: 90%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
  }

 .clock p.separator {
    display: none;
  }

  .speak {
    flex-direction: column;
  }
}

/* Dark mode */
.dark-mode {
  background-color: hsl(0, 0%, 0%);
  color: #ffffff;
  z-index: 9999;
}

.dark-mode .lni {
  color: white;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.dark-mode .lni:hover {
  color: var(--blue);
}

.dark-mode .bar {
  background-color: #ffffff;
}

.dark-mode header {
  font-family: serif;
  font-weight: 200;
  font-size: 5rem;
  display: inline-block;
  line-height: 6rem;
  margin-top: 4px;
  margin-bottom: 4px;
  z-index: 9999;
  color: #ffffff;
}

.dark-mode header:hover {
  color: var(--blue);
  cursor: pointer;
}

.dark-mode .head {
  text-align: center;
  position: relative;
  z-index: 9999;
  color: #ffffff;
}

.dark-mode .subhead {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  padding: 12px 0 12px 0;
  z-index: 9999;
  color: #ffffff;
}

.dark-mode::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.dark-mode::-webkit-scrollbar-track {
  background-color: transparent;
}

.dark-mode::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 4px;
}

.dark-mode::-webkit-scrollbar-corner {
  background-color: #000000;
}

@media only all and (max-width: 768px) {
  .dark-mode header {
    max-width: 320px;
    font-size: 36px;
    line-height: 54px;
    overflow: hidden;
    z-index: 9999;
    color: #ffffff;
  }
}

.ag-format-container {
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
}
.ag-format-container a {
  text-decoration: none;
  color: inherit;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  justify-content: center;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 6px 24px;
  border: 2px dashed black;
}

.dark-mode .ag-courses_item {
  border: 2px dashed #ffffff;
}
.ag-courses-item_link {
  display: block;
  padding: 1rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover, .ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 24px;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: var(--blue);
  -moz-transition: all 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #00629B44;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #9f289344;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #0073ff44;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #64e2a544;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #3eb8cd44;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #c289f444;
}
@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  background: transparent;
  padding: 0;
  color: #ffffff;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: radial-gradient(#be0a32, #00629B);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 15px;
  background: var(--blue);
  border-radius: 6px;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--blue) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--blue);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--blue);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--blue) transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}