body,html{ 
  margin: 0;
  padding: 0;
    height: 100%;
    background-color: black;
    }
  /* .carousel,.item,.active{ 
    height:100%;} */
  .carousel-inner{
    max-width: 100%;
    height: auto !important;
    }
    #c1{
      background-image: url('https://cdn.mos.cms.futurecdn.net/cKaSHypMx9DKTTEhk4cL7e.jpg');
    }
    #c2{
      background-image: url('https://i.pinimg.com/originals/62/b7/2d/62b72d8c3d2fe65ceee31276dc9f442f.png');
    }
  .carousel-item {
    height: 120vh; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      /*position:absolute;
     width: 100%;
     top:0;
       */
  }
  @media only screen and (max-width: 400px) {
    .carousel-item{
      height: 70vh !important;
    }
  }

  @media only screen and (min-width: 401px) and (max-width:600px) {
    .carousel-item{
      height: 90vh !important;
    }
  }

.modal{
    margin-top: 150px;
    margin-right: 50px;
    margin-left: 50px;
  }
  
   .button{
    /*   border-color: #fff !important ;
     */ background-color: none !important;
        border: none;
       color: white;
       padding: 15px 32px;
       text-align: center;
       font-size: 16px;
       cursor: pointer;
       border-radius: 15px;
   }
   
   .button:hover{
       background-color:#ff073a !important;
       color: black;
   }
   .link:hover{
    color: #ff073a !important;
   }
   .fa-twitter:hover, .fa-instagram:hover, .fa-facebook:hover{
       color: #ff073a !important;
   }
    a:hover{
        text-decoration: none;
    }
    
    .container-lg{
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
  /*   position: fixed; */
     overflow: hidden; 
     /* width: 100%; */
    padding: 0;
   
    }
    .link{
      color: white;
    }
    
   
