* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80);
  /*background-repeat: no-repeat;*/
  background-size: cover;
  /*background: linear-gradient(#e66465, #9198e5);*/
}
/*
@media only screen and (orientation:portrait)
{
    #wrapper { display:none; }
    #warning-message { display:block; color: white;}

    html
    {
        background:url("https://images.unsplash.com/photo-1507275016429-544fc0875edd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80") no-repeat center center fixed;
        background-size: cover;
    }       
}*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

ul li {
  list-style-type: none;
  font-size: 18px;
}

.glow {
  margin-top: 30px;
  font-weight: bold;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 43px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.slider--teams {
  position: relative;
  top: 47%;
  left: 50%;
  max-width: 1000px;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
  height: 600px;
  /*background-color: black;*/
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}
#list li figure {
  cursor: pointer;
  height: 10px;
  margin: 1em;
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transform: scale(0.5) translateZ(0px);
}
#list li figure:hover {
  opacity: 0.8;
  transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
  opacity: 1;
  transform: scale(0.7) translateZ(0px);
}
#list li figure > div {
  /*border-radius: 5px;*/
  position: relative;
  margin: 2rem auto;
  width: 160px;
  height: 160px;
  overflow: hidden;
  transform: rotate(45deg) translateZ(0px);
}
#list li figure > div > div {
  /*background: url('img/speakers_rs.png');/*url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/teams.jpg); /*no-repeat;*/
  background-size: cover;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 170px;
  transform: rotate(-45deg) translate(0%, -70%);
}
#list li figure figcaption h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
}
#list li figure figcaption p {
  color: #808080;
  font-size: 0.9rem;
  font-weight: 400;
}
#list li:nth-child(1) figure > div > div {
  background-position: 0px 0px !important;
}
#list li:nth-child(2) figure > div > div {
  background-position: 0px 20% !important;
}
#list li:nth-child(3) figure > div > div {
  background-position: 0px 40% !important;
}
#list li:nth-child(4) figure > div > div {
  background-position: 0px 60% !important;
}
#list li:nth-child(5) figure > div > div {
  background-position: 0px 80% !important;
}
#list li:nth-child(6) figure > div > div {
  background-position: 0px 100% !important;
}

.active {
  opacity: 1 !important;
  transform: scale(2) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Demo Styles */
#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}


/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse 0.6s linear infinite;
          animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}